{{- $hero        := .Site.Params.hero }}
{{- $valueProps := index $hero "valueProps" }}
<style>
  @media (max-width: 968px) {
    #responsive-list {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
<div class="hero-foot mb-20" style="text-align: left;">
  <div class="columns is-centered">
    <div class="column is-centered">
      <ul id="responsive-list" style="list-style: none; display: flex; justify-content: center; flex-wrap: wrap; width: 100%;">
        {{- range $valueProps }}
        <li style="margin: 15px; display: flex; align-items: flex-start; justify-content: center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
            <circle cx="15" cy="15" r="5" fill="#0000ff"/>
          </svg>
          <p style="width: 250px; height: 100px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal; margin: 0 0 0 10px; font-size: 18px;">
            <strong>{{ .text }}</strong> <br>
            {{ .subText | replaceRE "\n" "<br>" | safeHTML }} 
          </p>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>
