{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $clients }}
        <div class="column">
          <!-- <figure class="testimonial"> -->
            {{ $context := . }}
            <div style="background-color: white; border-radius: 10px; padding: 15px; box-shadow: 0 0 5px rgba(0,0,0,0.1); min-height: 350px;font-size: 18px;">
              <em><strong>{{ $context.name }}</strong></em>

              <br>
              {{ range $context.quote }}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 -9 30 30">
                  <circle cx="15" cy="15" r="5" fill="#0000ff"/>
                </svg>
                {{ . | replaceRE "\n" "<br>" | safeHTML }}
                <br>
              {{ end }}
            </div>
            
          <!-- </figure> -->
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>