{{- $section5   := .Site.Params.section5 }}
{{- if eq $section5 true }}
{{- $section5 = dict "_" "_" }}
{{- end }}
{{- $title      := index $section5 "title" | default "Drop us a line or two "}}
{{- $subtitle   := index $section5 "subtitle" | default "We'd love to hear from you" }}
{{- $action     := index $section5 "action" }}
{{- $method     := index $section5 "method" }}
{{- $buttonText := index $section5 "buttontext" | default "Send Message" }}
<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form{{ with $action }} action="{{ . }}"{{end}}{{ with $method }} method="{{ . }}"{{end}}>
            <div class="columns is-multiline">
              <div class="column is-12">
                <input class="input is-large" name="email" type="email"  id="email" placeholder="Enter your email address">
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button signup-button rounded secondary-btn raised"  id="form-submit">{{ $buttonText }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script>
  const firebaseConfig = {
    apiKey: "AIzaSyBro8QN3zyJwyo92lYUMPwsyRVPLLGOTcs",
    authDomain: "dhali-prod.firebaseapp.com",
    projectId: "dhali-prod",
    storageBucket: "dhali-prod.appspot.com",
    messagingSenderId: "1042340549063",
    appId: "1:1042340549063:web:3dc69cffe6d3c0746189e2",
    //measurementId: "G-6TPZFK7NQ6"
  };
  var app = firebase.initializeApp(firebaseConfig);
  var db = firebase.firestore(app)
  const collection = db.collection("emails-from-ads")
  let submitButton = document.getElementById("form-submit")
  submitButton.addEventListener("click", (e) => {
    e.preventDefault()
    let email = document.getElementById("email").value
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    if (email.match(mailformat)) {
      //gtag('event', 'button_click', {
      //  'event_category': 'Button',
      //  'event_label': 'Email submission success'
      //});

      collection.doc().set(
        {
          email: email,
          date: new Date(),
          source: "auth-by-pay"
        }
      )
      document.getElementById("email").value = ""
      var x = document.getElementById("snackbar-success");

      // Add the "show" class to DIV
      x.className = "show";

      // After 3 seconds, remove the show class from DIV
      setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
    else {
      //gtag('event', 'button_click', {
      //  'event_category': 'Button',
      //  'event_label': 'Email submission failed'
      //});

      var x = document.getElementById("snackbar-fail");

      // Add the "show" class to DIV
      x.className = "show";

      // After 3 seconds, remove the show class from DIV
      setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }

  })
</script>