{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
{{- $hero        := .Site.Params.hero }}
{{- $valueProps := index $section4 "valueProps" }}
<section class="section is-medium section-light-grey" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 dark-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 dark-text">{{ . }}</h3>
      {{- end }}
    </div>
    <br>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="hero-foot mb-20" style="text-align: left;">
      <div class="columns is-centered">
        <div class="column is-centered">
          <ul id="responsive-list" style="list-style: none; display: flex; justify-content: center; flex-wrap: wrap; width: 100%;">
            {{- range $valueProps }}
            <div class="rounded-border-container">
              <div class="icon-container">
                <i class="material-icons">{{ .icon }}</i>
              </div>
              <li style="margin-top: -20px; margin-bottom: 30px; margin-left: 20px; margin-right: 20px">
                <p style="white-space: normal; margin: 0 0 20px 0px; ">
                  <strong>{{ .text }}</strong> <br>
                  {{ .subText | replaceRE "\n" "<br>" | safeHTML }} 
                </p>
              </li>
            </div>
              {{- end }}
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('scroll', function() {
    const section1 = document.getElementById('hero');
    const section2 = document.getElementById('section4');
    
    const scrollPos = window.scrollY || window.scrollTop;
    const section2Pos = section2.offsetTop;

    if (scrollPos > section2Pos - window.innerHeight && scrollPos < section2Pos) {
        const percentageScrolled = (scrollPos - (section2Pos - window.innerHeight)) / window.innerHeight;
        
        // This is a simple linear gradient calculation
        const newColor = blendColors($section-1-color, $section-2-grey, percentageScrolled);
        
        section1.style.backgroundColor = newColor;
        section2.style.backgroundColor = newColor;
    }
});
</script>

<style>
  @media (max-width: 768) {
    #responsive-list {
      flex-direction: column;
      align-items: center;
    }
  }

.rounded-border-container {
  border-radius: 10px;
  padding-top: 20px;  /* Gives space for the icon */
  margin: 20px; 
  background-color: #0000ff;
  color: #FFFFFF; 
  align-items: center;
  justify-content: center;
}

.rounded-border-container p {
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  color: #ffffffc5;  /* Ensure all text elements inside have white color */
  width: 300px; 
  height: 100px; 
  font-size: 18px;
  text-align: center;
}

.rounded-border-container strong {
  text-align: center;
  flex-direction: column;
  margin-top: -1px;
  margin-bottom: -10px;
  display: flex;
  color: #FFFFFF;  /* Ensure all text elements inside have white color */
}

.icon-container {
  border-radius: 5px;
  width: 40px;  /* Adjust as per your icon's size */
  height: 40px;
  position: relative;
  top: -25%;  /* Half of the icon's height to make it appear half outside the border */
  left: 50%;
  transform: translateX(-50%);
  background: #00BFFF;
z-index: 1;
}
.material-icons {
    color: rgb(0, 0, 0);
    background-color: transparent;
    position: absolute;
    top: 8px;
    left: 8px; 
}

</style>
